.conteneur {
    display: flex;
    width: 100%;
    max-width: 960px;
    margin-inside: 10px;
    margin-outside: 15px;
    justify-content: space-around;

}

header{
    background-image: url("images/school.png");
    margin: auto;
    font-size: 22px;
}
header .conteneur p{
    flex: 2;
    margin-left: 10px;
}
main{
    display: flex;
    background-image: url("images/weather.png");
    justify-content: space-around;

}
footer{
    display: flex;
    background-image: url("images/restaurant.png");
    justify-content: space-around;
}
footer div p{
    font-size: 22px;
    margin-left: 30px;
}